Card2Jar/*.class
Card2JarTest/*.class

# ignore the binary eclipse build files
Card2Jar/bin
Card2JarTest/bin

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# temp OS files
.DS_Store
Thumbs.db